{% extends "layout.html" %}

{% block content %}
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium voluptatum totam qui dignissimos ut architecto obcaecati nulla, magnam quod. In blanditiis nisi nostrum harum suscipit pariatur dolorem ab sed facilis assumenda, velit illum qui laboriosam iure natus, ullam ea placeat deleniti dolores incidunt. Commodi, aliquam laboriosam. Vitae ducimus, nam voluptas nemo magni molestiae aut aspernatur at mollitia magnam itaque vel ab, illo voluptates distinctio quam voluptatem sequi tempora ea adipisci nisi accusamus asperiores sunt maiores! Vero blanditiis necessitatibus placeat autem provident quasi soluta eum quisquam numquam? Reprehenderit officiis doloremque totam laborum delectus dicta enim corporis nostrum. Ea debitis nam sunt!</p>
    
    {% endblock %}